@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*--STICKY HEADER---------------------------------*/

.paddingtop {
    padding-top: 70px;
}

html {
    height: 100%;
}

.sticky                     {
    position: fixed;
    top: 0;
    width: 100%;
}



.sticky + .content          {padding-top: 102px;}

 body {
    background-color: #FEFEFE;
}


.footerlogo {
    height: 130px;
    width: auto;
}

.footertext {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.kontaktsvg {
    height: auto;
    width: 25px;
}

.footerh1 {
font-family: "Roboto", sans-serif;
color: #ffffff;
font-weight: 700;
font-size: 28px;
text-decoration: underline;
}

box2 {
display: flex;
flex-direction: column;
gap: 20px;
height: auto;
margin: 0;
padding: 0;
flex-wrap: wrap;
align-content: flex-start;
}

.box1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
}


.footera {
font-family: "syne", sans-serif;
color: #ffffff;
font-weight: 300;
font-size: 24px;
gap: 4px;
width: 320px;
}

socials {
    display: flex;
    width: 160px;
    justify-content: space-between;
    height: 100px;
}

socials img {
    height: 70px;
    width: auto;
}


.footeritems {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    height: auto;
}

.footer {
    overflow: auto;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5F7D08;
    height: auto;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

/*--HAMBURGER MENU START-----------------------------------------------*/
.navbar { 
    display: flex;
    height: 70px;
    font-family: "Syne", sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: #5F7D08;
    width: 100%;
    
}

.color {
    color: #ffffff;
}

.nav-menu {
    display: flex;
    font-family: "Syne", sans-serif;
    align-items: center;
    text-decoration: none;
    list-style: none;
    height: 70px;
    margin: 0;
    width: 100%;
    justify-content: flex-end;
}

#myHeader {
    z-index: 1000;
}

.nav-branding img           {
    height: 70px;
     width: 100px;
     padding-left: 25px;
}


.nav-link {
display: flex;
align-items: center;
transition: 0.2s ease;
text-decoration: none;
height: 70px !important;
padding-right: 30px;
padding-left: 30px;
} 

.nav-link:hover             {
    background-color: #425607;
}

.hamburger {
    display:none; 
    cursor: pointer;}

.bar                        {display: block; 
    width:25px;
    height:3px;
    margin: 5px auto; 
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;}

body { 
margin: 0;
padding: 0;
height: 100%;
}

flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

div1 {
    margin-top: 70px !important;
    display: flex;
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
}

div2 {
    display: flex;
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
}


billede {
    height: 100%;
    display: flex;
    position:relative;
    width: 50%;
    object-fit: fill;
    margin: 0%;
    padding: 0;
    overflow: hidden;
    justify-content: center;
}

billedetekst {
   height: 100%;
    text-align: center;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

teksth1 {
font-family: "Roboto", sans-serif;
color: #2E4C1B;
font-weight: 700;
font-size: 28px;
width: 90%;
}

teksth2 {
font-family: "syne", sans-serif;
color: #2E4C1B;
font-weight: 400;
font-size: 24px;
width: 80%;
line-height: 25px;
}

.billede {
    width: 100%;
    object-fit: cover;  
      display: flex;
    overflow: hidden;
    object-position: bottom;
}

@media(max-width:1274px){
teksth1 {
font-family: "Roboto", sans-serif;
color: #2E4C1B;
font-weight: 700;
font-size: 28px;
width: 100%;
}
    teksth2 {
font-family: "syne", sans-serif;
color: #2E4C1B;
font-weight: 400;
font-size: 22px;
width: 95%;
line-height: 25px;
}
}

@media(max-width:1096px){
billede {
    height: 400px;
    width: 100%;
    object-fit: cover;
    display: flex;
    margin-bottom: 0;
}

.billede {
  height: 400px;
    width: 100%;
    object-fit: cover;  
      display: flex;
    overflow: hidden;
    object-position: bottom;
}

billedetekst {
    height: 100%;
    text-align: center;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

div1 {
            display: flex;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0;
}
div2 {
            display: flex;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse;
        align-content: center;
}
}

@media(max-width:768px){

.footer {
    padding-top: 60px;
    padding-bottom: 40px;
}

    .footerh1 {
font-family: "Roboto", sans-serif;
color: #ffffff;
font-weight: 700;
font-size: 24px;
text-decoration: underline;
}


.footera {
font-family: "Roboto", sans-serif;
color: #ffffff;
font-weight: 300;
font-size: 20px;
gap: 4px;
width: 320px;
}

.box1 {
        order:3;
        display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    margin: 0;
    padding: 0;
    }

    .footerlogo {
        display: none;
    }
    
     .footeritems {
        width: 90%;
        justify-content: flex-start;
        gap: 10px;
        flex-direction: column;
    }

    .hamburger
        {
            display: block;
            margin-right: 25px;
    }

    .hamburger.active .bar:nth-child(2)
        {opacity: 0;}
    
    .hamburger.active .bar:nth-child(1)
        {transform: translateY(8px) rotate(45deg);} 

    .hamburger.active .bar:nth-child(3)
        {transform: translateY(-8px) rotate(-45deg);} 

    .nav-menu{
        position: fixed;
        top:-100%;
        flex-direction: column;
        background-color: #425607;
        width:100%;
        text-align: center;
        transition: 0.4s;
    padding: 0;
    margin: 0;
z-index: -1;
justify-content: inherit;
height: auto;
}

        

    .nav-item{
        margin: 16px 0;
    width: 100%;}

    .nav-menu.active{
        position: fixed;
        padding: 0;
        top: 70px;
        z-index: -1;
        padding-top: 20px;
        margin-top: -20px;
     }
.navbar { 
    display: flex;
    height: 70px;
    font-family: "Syne", sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: #5F7D08;
    width: 100%;
    justify-content: space-between;
}

.nav-link:hover             {
    background-color:none;
}

.nav-link           {
    display: flex;
    justify-content: center;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #42560700;
   -webkit-tap-highlight-color: transparent !important;
}

    }

    @media(max-width:615px){
          map {
    width: 100% !important;
    height: 300px !important;
  }
  map > iframe {
    width: 100% !important;
    height: 300px !important;
  }
}

 @media(max-width:355px){
          map {
    width: 100% !important;
    height: 300px !important;
  }
  map > iframe {
    width: 100% !important;
    height: 300px !important;
  }
}

@media(max-width:450px){
billede {
    height: 250px;
    width: 100%;
    object-fit: cover;
    display: flex;
    margin-bottom: 0;
}

.billede {
  height: 250px;
    width: 100%;
    object-fit: cover;  
      display: flex;
    overflow: hidden;
    object-position: bottom;
}

billedetekst {
    height: 100%;
    text-align: center;
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

div1 {
            display: flex;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0;
}
div2 {
            display: flex;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse;
        align-content: center;
}
teksth1 {
font-family: "Roboto", sans-serif;
color: #2E4C1B;
font-weight: 700;
font-size: 20px;
width: 100%;
}
    teksth2 {
font-family: "syne", sans-serif;
color: #2E4C1B;
font-weight: 400;
font-size: 18px;
width: 90%;
line-height: 20px;
}
}